<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

</head>
<body>
    <div ng-app="myShoppingList" ng-controller="myCtrl">
       
        <button ng-click="addItem()">GetData</button>
        <ul ng-repeat="data in sampledata">
            <li>{{data.login}}</li>
            <li>{{data.id}}</li>
            <li>{{data.url}}</li>
        </ul>
      </div>
</body>
<script>
    var app = angular.module("myShoppingList", []); 
    app.factory('AdditionService',function($http){
        return{
            addTwoNumber : function(){
                return $http.get('https://api.github.com/users/hadley/orgs');
            }
        }
            
      
    })
    app.controller("myCtrl", function($scope,AdditionService) {
        $scope.addItem = function () {
            AdditionService.addTwoNumber().then(function(response){
                console.log(response)
                $scope.sampledata = response.data
            })
           
        }    
    });

   
    </script>

</html>
